

@{
    ViewBag.Title = "Discuncussion Forums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discuncussion Forums</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-app="norrisFacts">
<div ng-controller="DiscussionController as discCtrl" >
    Posts:
    <table class="table" ng-show="discCtrl.flag">
        <tr><th>Title</th>
            <th>Author</th>
            <th>Views</th>
            <th>Votes</th></tr>
        <tr ng-repeat="discussion in discCtrl.discussions">
            <td><b><a href ng-click="discCtrl.getdiscussion(discussion.ID)">{{discussion.Title}}</a></b></td>
            <td>{{discussion.Author}}</td>
            <td>{{discussion.Views}}</td>
            <td>{{discussion.Votes}}</td>
        </tr>
    </table>
    <div class="details" ng-hide="discCtrl.flag">
        <h1>{{discCtrl.selected_discussion.Title}}</h1>
        <p>{{discCtrl.selected_discussion.Text}}</p>
        <p>- {{discCtrl.selected_discussion.Author}}</p>
         <br />
        
        <button ng-click="discCtrl.switch()" class="btn btn-small">Go Back</button>
    </div>
</div>
</div>