@{
    ViewBag.Title = "Home Page";
}

<div style="padding-top:25%;" id="norris_container" ng-app="norrisFacts">

    <div ng-controller="FactController as factCtrl">
        <blockquote>
            <p style="font-size:42px;" ng-model="factCtrl.fact.Text">{{factCtrl.fact.Text}}</p>
            <footer ng-model="factCtrl.fact.Author"> - {{factCtrl.fact.Author}}</footer>
        </blockquote>
        <p><a href class="btn btn-primary btn-lg" ng-click="factCtrl.nextFact()">Show more &raquo;</a></p>
    </div>
    
</div>

<div class="row">
   
</div>

