@{
    ViewBag.Title = "Home Page";
}

<div style="padding-top:25%;" id="norris_container" ng-app="norrisFacts">






    <div ng-controller="FactController as factCtrl">
        
        <div id="suggest">
            <p><a href="" ng-click="factCtrl.addForm()">Suggest Fact</a></p>
        </div>

        <div class="ng-hide" id="container1">
            <form ng-submit="factCtrl.addFact()">
                Suggest Fact:<input type="text" id="factText" ng-model="factCtrl.factText" />
                Author:<input type="text" id="author" ng-model="factCtrl.author" />
                Date:<input type="text" id="date" ng-model="factCtrl.date" />
                <input type="submit" ng-click="" class="btn btn-small" />
            </form>
        </div>
        
        <div class="row" id="container2">
            <div class="col-md-8">
                <blockquote>
            <p style="font-size:42px;">{{factCtrl.fact.Text}}</p>
            <footer> - {{factCtrl.fact.Author}}</footer>
        </blockquote>
        <div id="comments" ng-repeat="comment in factCtrl.comments">
            <blockquote>
                        <p style="font-size:24px;">{{comment.Text}}</p>
                <footer> - {{comment.USER_EMAIL}}</footer>
                </blockquote>
            </div>
        <form ng-submit="factCtrl.addnew()">
                    Comment: <input type="text" id="commentText" ng-model="factCtrl.commentText" />
                    <input type="submit" class="btn btn-small" />
        </form>
        <p><a href="" class="btn btn-primary btn-lg" ng-click="factCtrl.nextFact()">Show more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <highchart id="chart1" config="chartConfig" style="height:200px;"></highchart>
            </div>
            </div>
           
        </div>
    </div>
    

<script>
window.onload = function() {
    // Add GifLinks to all anchor tags on the page!
    var elements = document.querySelectorAll('.giflink-to-be');
    GifLinks(elements);
}
</script>