@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chuck norris facts</h1>
    <p class="lead">Best chuck norris facts.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Show more &raquo;</a></p>
</div>

<div class="row">
   
</div>